TryItPagesApplication/Service References/ServiceCrimeData/ServiceCrimeData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webstrar36.fulton.asu.edu/Page2/ServiceCrimeData.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getCrimeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getCrimeDataResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeIndex">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCrimeIndexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCrimeIndexResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatitudeLongitude">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLatitudeLongitudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLatitudeLongitudeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>