TryItPagesApplication/Service References/ServiceCrimeData/ServiceCrimeData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceCrimeData" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page2/ServiceCrimeData.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page2/ServiceCrimeData.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page2/ServiceCrimeData.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceCrimeData_getCrimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeData" />
  </wsdl:message>
  <wsdl:message name="IServiceCrimeData_getCrimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCrimeData_getCrimeIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeIndex" />
  </wsdl:message>
  <wsdl:message name="IServiceCrimeData_getCrimeIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCrimeIndexResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceCrimeData_getLatitudeLongitude_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatitudeLongitude" />
  </wsdl:message>
  <wsdl:message name="IServiceCrimeData_getLatitudeLongitude_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatitudeLongitudeResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceCrimeData">
    <wsdl:operation name="getCrimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCrimeData/getCrimeData" message="tns:IServiceCrimeData_getCrimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCrimeData/getCrimeDataResponse" message="tns:IServiceCrimeData_getCrimeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCrimeIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCrimeData/getCrimeIndex" message="tns:IServiceCrimeData_getCrimeIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCrimeData/getCrimeIndexResponse" message="tns:IServiceCrimeData_getCrimeIndex_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatitudeLongitude">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceCrimeData/getLatitudeLongitude" message="tns:IServiceCrimeData_getLatitudeLongitude_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceCrimeData/getLatitudeLongitudeResponse" message="tns:IServiceCrimeData_getLatitudeLongitude_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceCrimeData" type="tns:IServiceCrimeData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCrimeData">
      <soap:operation soapAction="http://tempuri.org/IServiceCrimeData/getCrimeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCrimeIndex">
      <soap:operation soapAction="http://tempuri.org/IServiceCrimeData/getCrimeIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatitudeLongitude">
      <soap:operation soapAction="http://tempuri.org/IServiceCrimeData/getLatitudeLongitude" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCrimeData">
    <wsdl:port name="BasicHttpBinding_IServiceCrimeData" binding="tns:BasicHttpBinding_IServiceCrimeData">
      <soap:address location="http://webstrar36.fulton.asu.edu/Page2/ServiceCrimeData.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>