TryItPagesApplication/Service References/NearByStoresService/ServiceNearByStores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceNearByStores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page2/ServiceNearByStores.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar36.fulton.asu.edu/Page2/ServiceNearByStores.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceNearByStores_findNearestStore_InputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStore" />
  </wsdl:message>
  <wsdl:message name="IServiceNearByStores_findNearestStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceNearByStores_getLatLong_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatLong" />
  </wsdl:message>
  <wsdl:message name="IServiceNearByStores_getLatLong_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatLongResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceNearByStores">
    <wsdl:operation name="findNearestStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNearByStores/findNearestStore" message="tns:IServiceNearByStores_findNearestStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNearByStores/findNearestStoreResponse" message="tns:IServiceNearByStores_findNearestStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatLong">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceNearByStores/getLatLong" message="tns:IServiceNearByStores_getLatLong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceNearByStores/getLatLongResponse" message="tns:IServiceNearByStores_getLatLong_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceNearByStores" type="tns:IServiceNearByStores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findNearestStore">
      <soap:operation soapAction="http://tempuri.org/IServiceNearByStores/findNearestStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatLong">
      <soap:operation soapAction="http://tempuri.org/IServiceNearByStores/getLatLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNearByStores">
    <wsdl:port name="BasicHttpBinding_IServiceNearByStores" binding="tns:BasicHttpBinding_IServiceNearByStores">
      <soap:address location="http://webstrar36.fulton.asu.edu/Page2/ServiceNearByStores.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>